<header role="banner">
    <div class="row">
        <div class="col-6">
            <h1 class="page-title">CineFlix</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="page-links">
                <li class="li-page-link home">
                    <a href="/">Home</a>
                </li>
                <li class="li-page-link register">
                    <a href="/users/register">Register</a>
                </li>
                <li class="li-page-link login">
                    <a href="/users/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="row landing-page-container">
    <div class="col-4 landing-info">
        <i class="fa fa-search fa-5x"></i>
        <h2>Search</h2>
        <p>Discover movies and tv shows that you want to watch</p>
    </div>
    <div class="col-4 landing-info">
        <i class="fa fa-film fa-5x"></i>
        <h2>Add to Watchlist</h2>
        <p>Add any movies or tv shows to your watchlist. You'll never lose track of what you want to watch!</p>
    </div>
    <div class="col-4 landing-info">
        <i class="fa fa-check-circle-o fa-5x"></i>
        <h2>Mark as Watched</h2>
        <p>Keep track of all the tv shows and movies you've already seen</p>
    </div>
</div>

<div class="row landing-movie-container">
    <div class="col-12">
        <h1 class="landing-movies">Movies</h1>
    </div>
    <div class="col-12">
        <h3 class="now-playing-header">Now Playing</h3>
    </div>
    <div class="col-12" id="movies-now-playing"></div>
    <div class="col-12">
        <h3 class="upcoming-header">Upcoming</h3>
    </div>
    <div id="movies-upcoming"></div>
</div>

<div class="mobile-landing">
    <h1 class="landing-movies">Movies</h1>
    <h3 class="now-playing-header">Now Playing</h3>
    <div class="mobile-now-playing-div">
        <div id="mobile-now-playing"></div>
    </div>
    <h3 class="upcoming-header">Upcoming</h3>
    <div class="mobile-upcoming-div">
        <div id="mobile-upcoming"></div>
    </div>
</div>

<div class="row landing-tv-container">
    <div class="col-12">
        <h1 class="landing-tv">TV</h1>
    </div>
    <div class="col-12">
        <h3 class="popular-header">Popular</h3>
    </div>
    <div class="col-12" id="tv-popular"></div>
    <div class="col-12">
        <h3 class="top-rated-header">Top Rated</h3>
    </div>
    <div class="col-12" id="tv-top-rated"></div>
</div>

<div class="mobile-landing">
    <h1 class="mobile-landing-tv">TV</h1>
    <h3 class="popular-header">Popular</h3>
    <div class="mobile-popular-div">
        <div id="mobile-popular"></div>
    </div>
    <h3 class="top-rated-header">Top Rated</h3>
    <div class="mobile-top-rated-div">
        <div class="col-12" id="mobile-top-rated"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../api.js" type="text/javascript"></script>
<script src="../index.js" type="text/javascript"></script>