<header role="banner">
    <div class="row">
        <div class="col-4">
            <a href="/">
                <h1>CineFlix</h1>
            </a>
        </div>
        <div class="col-6">
            <ul class="page-links">
                <li class="li-page-link register">
                    <a href="/users/register">Register</a>
                </li>
                <li class="li-page-link login">
                    <a href="/users/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</header>