{{#if success}}
<div class="row">
    <div class="col-12 success">{{success}}</div>
</div>
{{/if}} {{#if error_msg}}
<div class="row">
    <div class="col-12 errors">{{error_msg}}</div>
</div>
{{/if}} {{#if error}}
<div class="row">
    <div class="col-12 errors">{{error}}</div>
</div>
{{/if}}

<div class="login-block">
    <h1>Login</h1>
    <form method="POST" action="/users/login" aria-label="login" aria-live="assertive">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" id="password">
        <button>Submit</button>
    </form>
</div>

<p class="center-block">Not registered?
    <a href="/users/register">Register</a>
</p>

<div class="row demo-user">
    <div class="col-12 center-block">
        <h2>Demo User</h2>
    </div>
    <div class="col-12 center-block">
        <b>Username:</b> movies</div>
    <div class="col-12 center-block">
        <b>Password:</b> test</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>