<header role="banner">
    <div class="row">
        <div class="col-4">
            <a href="" onclick="window.location.reload(true);">
                <h1>CineFlix</h1>
            </a>
        </div>
        <div class="col-6">
            <ul class="page-links">
                <li class="li-page-link">
                    <a href="/movies/watchlist">Watchlist</a>
                </li>
                <li class="li-page-link">
                    <a href="/movies/watched">Watched</a>
                </li>
                <li class="li-page-link">
                    <a href="/movies/search">Search</a>
                </li>
                <li class="li-page-link">
                    <a href="/users/logout" id="log-out">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>