{{#if errors}}
<div class="row">
    {{#each errors}}
    <div class="row">
        <div class="col-12 errors">{{msg}}</div>
    </div>
    {{/each}}
</div>
{{/if}} {{#if error_msg}}
<div class="row">
    <div class="col-12 errors">{{error_msg}}</div>
</div>
{{/if}}

<div class="login-block">
    <h1>Register</h1>
    <form method="POST" action="/users/register" aria-label="registration" aria-live="assertive">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" id="password">
        <label for="password2">Confirm Password</label>
        <input type="password" name="password2" id="password2" placeholder="Confirm password">
        <button>Submit</button>
    </form>
</div>

<p class="center-block">Already have an account?
    <a href="/users/login">Log in</a>
</p>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>