<header role="banner">
    <div class="row">
        <div class="col-6">
            <a href="/profile">
                <h1 class="page-title">CineFlix</h1>
            </a>
        </div>
        <div class="col-6">
            <ul class="page-links">
                <li class="li-page-link">
                    <a href="/media/watchlist">Watchlist</a>
                </li>
                <li class="li-page-link">
                    <a href="/media/watched">Watched</a>
                </li>
                <li class="li-page-link">
                    <a href="/media/search">Search</a>
                </li>
                <li class="li-page-link">
                    <a href="/users/logout" id="log-out">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-12 search-form">
        <form action="#" class="js-search-form" aria-label="search-form">
            <input type="text" class="js-user-input" placeholder="Search for a movie or show" aria-label="search-movie-or-tv-show-input"
                required>
            <button type="submit" class="js-search-btn">Search</button>
        </form>
    </div>
    <div class="js-no-movie-results">
        <div class="col-12">
            <h2 class="center-block">No movies were found!</h2>
        </div>
    </div>
    <div class="js-no-tv-results">
        <div class="col-12">
            <h2 class="center-block">No TV shows were found!</h2>
        </div>
    </div>
</div>

<main role="main">
    <div class="js-search-results"></div>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../api.js" type="text/javascript"></script>
<script src="../index.js" type="text/javascript"></script>