* {
  box-sizing: border-box;
}

/* Grid measurements:
   *
   *   960px wide including 12 gutters (half gutters on both edges)
   *
   *   60px columns (12)
   *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
   *
   *
   *   For smaller screens, we always want 20px of padding on either side,
   *   so 960 + 20 + 20 => 1000px
   *
   **/

.row {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */

.row::before,
.row::after {
  display: table;
  content: "";
}

.row::after {
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-6,
.col-8,
.col-9,
.col-12 {
  float: left;
  /* Gutters:
     * Each column is padded by half-a-gutter on each side,
     *
     * Half a gutter is 10px, 10/960 (context) = 1.041666%
     *
     */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */

.col-1,
.col-2,
.col-3,
.col-4,
.col-6,
.col-8,
.col-9,
.col-12 {
  width: 100%;
}

/* Non-mobile, grid */

@media only screen and (min-width: 640px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33%;
  }
  .col-6 {
    width: 49%;
  }
  .col-8 {
    width: 66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-12 {
    width: 100%;
  }
}

/*Desktop specific styles*/
@media only screen and (min-width: 641px) {
  header {
    background-color: black;
  }

  .page-title {
    color: white;
    margin-top: 50px;
  }

  .page-links {
    list-style-type: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: white;
    border-bottom: 3px solid #18ffff;
  }

  .li-page-link {
    display: inline;
    text-transform: uppercase;
    color: grey;
    padding: 15px;
    border-bottom: 3px solid transparent;
  }

  .search-form-container {
    margin-top: 20px;
  }

  .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    width: 1028px;
    height: auto;
  }

  .card-1 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  .watched-date {
    text-align: center;
    margin-top: 100px;
  }

  .watched-title {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
  }

  .watched-release-date {
    margin-top: 100px;
    text-align: center;
  }

  .mobile-landing {
    display: none;
  }
}

/*Adjusted styles for mobile devices*/
@media only screen and (max-width: 640px) {
  .nav-bar {
    text-align: center;
  }

  .page-title {
    text-align: center;
    font-size: 60px;
  }

  .page-links {
    list-style-type: none;
    float: left;
    margin-left: 65px;
  }

  .li-page-link {
    display: inline;
    padding-left: 10px;
  }

  .watched-div {
    display: none;
  }

  .watched-date {
    padding-top: 40px;
  }

  .watched-title {
    margin-top: 20px;
    font-size: 30px;
  }

  .watchlist-btn {
    margin-top: 20px;
  }

  .result-container {
    padding-top: 30px;
  }

  .landing-movies,
  .landing-tv {
    font-size: 50px;
    text-decoration: none;
    text-align: center;
  }

  .now-playing-header,
  .popular-header {
    font-size: 20px;
    margin-top: -20px;
    padding-left: 5px;
  }

  .upcoming-header,
  .top-rated-header {
    font-size: 20px;
    padding-top: 30px;
  }

  .landing-movie-container,
  .landing-tv-container {
    display: none;
  }

  .landing-release-date {
    color: white;
    padding-left: 5px;
  }

  .mobile-landing-img {
    width: 100%;
    padding-top: 20px;
  }

  .mobile-title {
    display: block;
    margin-top: -45px;
    color: white;
    padding-left: 5px;
  }

  .mobile-now-playing-div,
  .mobile-upcoming-div,
  .mobile-popular-div,
  .mobile-top-rated-div {
    margin-top: -35px;
  }

  .mobile-landing-tv {
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
  }
}
