.page-links {
  list-style-type: none;
  float: right;
  margin-top: 30px;
}

.li-page-link {
  display: inline;
  padding-left: 10px;
}

.success {
  padding: 10px;
  background-color: #dff0d8;
  border-color: #d0e9c6;
  font-size: 18px;
  text-align: center;
  color: #3c763d;
  border-radius: 4px;
  border: 1px solid transparent;
}

.errors {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  background-color: #f2dede;
  border: 1px solid transparent;
  border-color: #ebcccc;
  color: #a94442;
}

.register {
  text-align: center;
}

.register-labels {
  text-align: center;
  margin-top: 10px;
}

.register-width {
  width: 250px;
  margin-top: 10px;
}

.register-submit {
  text-align: center;
  margin-top: 10px;
}

.center-block {
  text-align: center;
}

.login {
  text-align: center;
}

.user-welcome {
  text-align: center;
}

.search-form {
  text-align: center;
}

.js-user-input {
  font-size: 14px;
  padding-right: 10px;
}

.movie-name {
  text-align: center;
}

.movie-release-date {
  text-align: center;
}

.movie-description {
  text-align: center;
}

.watchlist-btn {
  margin-top: 50px;
}

.movie-poster {
  padding-top: 30px;
}

#watchedMovie {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  line-height: 1.5;
}

#deleteMovie,
#deleteMovieFromWatched {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  line-height: 1.5;
}

.watched-date {
  text-align: center;
  margin-top: 100px;
}

.watched-title {
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
}

.watched-release-date {
  margin-top: 100px;
  text-align: center;
}

.header-fonts {
  font-size: 18px;
}
