.page-links {
  list-style-type: none;
  float: right;
  margin-top: 30px;
}

.li-page-link {
  display: inline;
  padding-left: 10px;
}

.register {
  text-align: center;
}

.register-labels {
  text-align: center;
  margin-top: 10px;
}

.register-width {
  width: 250px;
  margin-top: 10px;
}

.register-submit {
  text-align: center;
  margin-top: 10px;
}

.center-block {
  text-align: center;
}

.login {
  text-align: center;
}

.search-form {
  text-align: center;
}

.js-user-input {
  font-size: 14px;
  padding-right: 10px;
}

.movie-name {
  text-align: center;
}

.movie-release-date {
  text-align: center;
}

.movie-description {
  text-align: center;
}

.watchlist-btn {
  margin-top: 50px;
}
